.top-nav {
  display: table;
  width: 100%;
}

.top-nav > div {
  display: table-cell;
}
/* The following CSS is for background colors only */
.top-nav > div:nth-child(1) {
  background-color: #ffd80d;
  vertical-align: middle;
  text-align: left;
}
.top-nav > div:nth-child(2) {
  text-align: center;
  vertical-align: middle;
  background-color: #ffd80d;
}
.top-nav > div:nth-child(3) {
  vertical-align: middle;
  text-align: right;
  background-color: #ffd80d;
}
