a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.post .title {
  display: table;
  width: 100%;
}

.post .title > div {
  display: table-cell;
}

.img {
  display: grid;
}

/* The following CSS is for background colors only */
.img > div:nth-child(1) {
  background-color: #524d36;
  vertical-align: middle;
  object-fit: fill;
  text-align: center;
}

div > img {
  display: block;
  width: 100%;
}

.post .title > div:nth-child(1) {
  background-color: #524d36;
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
.post .title > div:nth-child(2) {
  width: 80%;
  text-align: center;
  vertical-align: middle;
  background-color: #918549;
}
